
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-grey: #222D32;
$color-grey-dark: #1A2226;
$color-grey-light: #2C3B41;

$color-orange: #F39C12;

$breakpoint-sm: 601px;
$breakpoint-md: 993px;
$breakpoint-lg: 1201px;